<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--JavaScript for disabling back button of browser-->
    <script language="javascript" type="text/javascript">
    window.history.forward();
    
    </script>



    <!--JavaScript for disabling back button of browser-->


    <title>Voting Done</title>
</head>


<body style="background-image: url(https://www.teahub.io/photos/full/8-80024_hd-wallpaper-blur-blue.jpg);">

    </div>
    </div>
    <h1 style="text-align: center;margin: 3rem auto;font-family: poppins; font-size: xxx-large;">Successfull Resgistration of E-polling</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto; ">
                <form>
                    <div class="row">
                        <div class="col-6" style="margin: 2rem auto 0 auto;">
                            <h2 style="text-align: center;	font-family: poppins;">Thank you for submitting your vote </h2>

                            

                            
                            <a href="/ehome" class="btn btn-primary" style="margin: 2rem auto 0 auto; background:none; display: block; text-align: center;">Go back to home page</a>


                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="margin: 2rem auto 0 auto;">
                <footer class="fixed-bottom navbar-light" style="background: black;
            color: gray;
            text-align: center;">
                    <p>Thanks For Using Our Application</p>
            </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>